extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Gurbakhash Sandhu
        p.title Full Stack JavaScript Developer

        .about-bio
          p I'm an immigrant from India who moved to the US as a child. I have always been a curious person and try to make even the most complicated things simple. This is a reason I love learning JavaScript. We use the web every single day, from checking sports scores to watching videos posted online by strangers hundreds, if not thousands, of miles away. By learning JavaScript I can learn how all this works but also create applications and websites that use this technology. Once you learn that the buttons you click on a website are just images that don't do anything other than tell some code to run, it's hard to unsee it.

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Linux
          li Microsoft Azure 

        h6 Contact Info
        ul
          li 530-315-5032
          li gurbakhashsandhu@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/gurbakhash-sandhu-526862235/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/Gurb-S' target="_blank") GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back