extends layout.pug

block content

  article.portfolio-intro
    h1 Hey, Potenial Employers  
    p Welcome to my website!! This website was created to practice using Express but now it is also the home for all the wonderful projects I have created in order to showcase my skills as an aspiring Full Stack JavaScript Developer. I hope you like what you see and please feel free to reach out if you have any questions. 


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        .cell 
          a(href=`/projects/${project.id}`) 
            img.thumbnail(src=`${project.img_urls.main_pic}`, alt=`click here to view ${project.project_name} project`)
            h5= project.project_name 
