<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Gurbakhash Sandhu Portfolio
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .dev-intro-box
          h5 Gurbakhash Sandhu
          p 530-315-5032
          .icon-div 
            a.icons(href='mailto:gurbakhash.sandhu1@gmail.com' target='_blank') 
              img.social(src="../static/icons/email.png", alt="Link to Email")
            a.icons(href='https://github.com/Gurb-S' target="_blank")
              img.social(src="../static/icons/github.png", alt="Link to Github")
          a.me(href='/about') About Me &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')
          span Gurbakhash Sandhu

      block content

  script(src='/static/js/script.js')