extends layout.pug 

block content 
  .not-found-page
    h1 404 Error -- Page Not Found 
    p.not-found The page you are looking for does not exist, please click below to be taken back to the home page 
    a.home(href="/") Home  
     